@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Hogwarsh!</h1>
</div>

<div class="row">
    To Enroll, @Html.ActionLink("click here!", "Enroll", "Student") click here!
</div>