@model List<MVCHelloWorld.Models.Person>

@{
    ViewBag.Title = "SayHello";
}

<p>Here's everybody: </p>
<table class="table table-striped">
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
    </tr>
    @foreach (var person in Model)
    {
        <tr>
            <td>@person.FirstName</td>
            <td>@person.LastName</td>
        </tr>
    }
</table>


<a href="@Url.Action("Index","Home")">ADD A PERSON</a>

