@model HelloWorldMVC.Models.Student
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HELLO!</h1>
</div>

<div class="row">
    <p>Hey, what's your name?</p>
    <p>
        First Name:
        @Html.TextBoxFor(x => x.FirstName)
    </p>
    <p>
        Last Name:
        @Html.TextBoxFor(x => x.LastName)
    </p>
</div>