@model HelloWorldMVC.Models.Person
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HELLO!</h1>
</div>

@using (var form = Html.BeginForm("SayHello", "Home"))
{
<div class="row">
    <p>Hey, what's your name?</p>
    <p>
        First Name:
        @Html.TextBoxFor(x => x.FirstName)
    </p>
    <p>
        Last Name:
        @Html.TextBoxFor(x => x.LastName)
    </p>
    <input type="submit" value="That's Me"/>
</div>
}